Q. Removes duplicates while preserving the original order.

In [4]:
def mystery(lst):
    result = []
    for item in lst:
        if item not in result:
            result.append(item)
    return result

mystery([45,45,743,75,34,75])

[45, 743, 75, 34]

Q. How can you reverse a string using a loop?

In [ ]:
text = 'Hello'
# text[::-1]
# l = len(text)
# while(l>=1):
#     print(text[l-1])
#     l-=1

rev = ""
for c in text:  
    rev = c + rev
print(rev)

olleH

Q. Write a function to count vowels in a string.

In [ ]:
def countVowels(s):
    vows = 'aeiou'
    count=0
    for ch in s.lower():
        if ch in vows:
            count+=1
    return count

countVowels("AuobhfdbE")

4

Q. Check for Anagram: Write a function to check if two strings are anagrams of each other (ignoring case and spaces).

In [46]:
def is_anagram(s1, s2):
    
    if sorted(s1.lower()) == sorted(s2.lower()): return True
    else: return False

is_anagram('tea', 'eatn')

False

Q. Find First Repeated Character: Return the first character that repeats in a string. If none, return None.

In [49]:
def first_repeat(s):
    s1 = set() # empty set

    for ch in s:
        if ch in s1:
            return ch
        else:
            s1.add(ch)
    return None

first_repeat('sdfhiu4iehotagf')

'i'

Q. Flatten a Nested List

Turn `[[1, 2], [3, [4, 5]], 6]` into `[1, 2, 3, 4, 5, 6]`.

In [63]:
def flatten(lst):
    flat_list = []
    for item in lst:
        if type(item) == list:
            flat_list.extend(flatten(item))  # flatten the sublist
        else:
            flat_list.append(item)  # add the item directly
    return flat_list

flatten([1, [2, [3, 4], 5], 6])

[1, 2, 3, 4, 5, 6]

Q. Check for Palindrome

In [72]:
def checkPalindrome(s):
    return s == s[::-1]

checkPalindrome('ada')

True

Q.  Find All Duplicates in a List

In [76]:
def find_duplicates(lst):
    seen = set()
    duplicates = set()

    for item in lst:
        if item in seen:
            duplicates.add(item)
        else:
            seen.add(item)
    return list(duplicates)

print(find_duplicates([1, 2, 2, 3, 4, 4, 5]))  # [2, 4]

[2, 4]

Q. Count Word Frequency

In [ ]:
def word_frequency(sentence):
    words = sentence.split()
    word_freq = {}
    for w in words:
        word_freq[w] = word_freq.get(w, 0) + 1
    return word_freq

# Example
print(word_frequency("the cat and the hat"))  
# {'the': 2, 'cat': 1, 'and': 1, 'hat': 1}

{'the': 2, 'cat': 1, 'and': 1, 'hat': 1}

Q. From a list of numbers, create a list of their squares (if the number is odd).

In [17]:
nums = [1, 2, 3, 4, 5]
# Expected: [1, 9, 25]

[n**2 for n in nums if n%2!=0]

[1, 9, 25]

Q. Convert a list of words to uppercase, but only if the word starts with 'a'.

In [18]:
words = ['apple', 'banana', 'avocado', 'cherry']
# Expected: ['APPLE', 'AVOCADO']

[w.upper() for w in words if w.startswith('a')]

['APPLE', 'AVOCADO']

Q. Add 10 to each element in the list.

In [19]:
nums = [1, 2, 3]
# Expected: [11, 12, 13]

list(map(lambda x:x+10,  nums))

[11, 12, 13]

Q. Convert a list of strings to their lengths.

In [20]:
words = ['python', 'is', 'awesome']
# Expected: [6, 2, 7]

list(map(lambda x:len(x), words))

[6, 2, 7]

Q. Multiply all the numbers in a list.

In [27]:
nums = [1, 2, 3, 4]
# Expected: 24

from functools import reduce
reduce(lambda x,y:x*y, nums)

24

Q. Concatenate all words into a single sentence.

In [29]:
words = ['Python', 'is', 'fun']
# Expected: 'Python is fun'

from functools import reduce
reduce(lambda x, y: x+y, words)

'Pythonisfun'

Q. Given a list of numbers, square only the even numbers, then add them all together.

In [33]:
nums = [1, 2, 3, 4]
# Even numbers → [2, 4]
# Squared → [4, 16]
# Sum → 20


reduce(lambda x,y:x+y, [x**2 for x in nums if x%2==0])

20

Q. Given a list of integers, return a new list of squares of only the numbers greater than 10.

In [36]:
nums = [4, 12, 7, 15, 3]
# Expected: [144, 225]
[x**2 for x in nums if x>10]

[144, 225]

Q. From a list of strings, return only those strings whose length is an even number and greater than 4.

In [38]:
words = ['hello', 'world', 'python', 'AI', 'data']
# Expected: ['python']

def isEven(n):
    return n%2==0
[w for w in words if (isEven(len(w))) and (len(w)>4)]

['python']

Q. Given a nested list (2D), flatten it and remove all None or empty strings.

In [ ]:
data = [[1, '', 2], [None, 3, 4], [5, '', 6]]
# Expected: [1, 2, 3, 4, 5, 6]